//Font family
$font-basic: 'muli', sans-serif;

// Font size
$font-xl: 50px;
$font-lg: 35px;
$font-md: 28px;
$font-sm: 20px;
$font-xs: 15px;

// Color
$white: #fff;
$black: #000;
$dark-grey: #222222;
$orange: #ffae00;